<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile_Page</title>
    <link rel="stylesheet" href="/stylesheets/pro.css"/>
</head>
<body>
    <div id="algn">
        <div id="card">
            <div id="upper-bg">
                <img src="/images/dev.jpg" alt="profile-pic" class="profile-pic">
            </div>
            <div id="lower-bg">
              <div class="text">
                <p class="name">Miss. Ishika Jain</p>
                <p class="title">Mern Stack Developer & <br> Java programmer</p>
              </div>
              <div id="icons">
                
                <a href="https://github.com/Ishika-Jain08" class="ico">
                  <img width="48" height="48" src="https://img.icons8.com/fluency/48/github.png" alt="github"/>
                </a>
                <a href="https://www.linkedin.com/in/ishika-jain-7ba537223/" class="ico">
                  <img width="48" height="48" src="https://img.icons8.com/color/48/linkedin.png" alt="linkedin"/>
                </a>
               
              </div>
              <div id="btn">
                <button class="msg">Subscribe</button>
                <button class="msg">Message</button>
              </div>
              <div id="l-c-s">
                <div class="num">
                  <img width="48" height="48" src="https://img.icons8.com/fluency-systems-regular/48/facebook-like--v1.png" alt="facebook-like--v1"/>
                  <span>35k</span>
                </div>
                <div class="num dvr"></div>
                <div class="num">
                  <img width="48" height="48" src="https://img.icons8.com/fluency-systems-regular/48/speech-bubble--v1.png" alt="speech-bubble--v1"/>
                  <span>20k</span>
                </div>
                <div class="num dvr"></div>
                <div class="num">
                  <!-- <img width="48" height="48" src="https://img.icons8.com/pulsar-line/48/share.png" alt="share"/> -->
                  <!-- <span>15k</span> -->
                  <a href="/logout">Log Out</a>
                </div>
            </div>
            </div>
        </div>



            <div id="card">
                <div id="upper-bg">
                    <img src="/images/dev.jpg" alt="profile-pic" class="profile-pic" />
                </div>
                <div id="lower-bg">
                  <div class="text">
                    <p class="name">Miss. Ishh Jain</p>
                    <p class="title">Mern Stack Developer & <br> Java programmer</p>
                  </div>
                  <div id="icons">
                    
                    <a href="https://github.com/Ishika-Jain08" class="ico">
                      <img width="48" height="48" src="https://img.icons8.com/fluency/48/github.png" alt="github"/>
                    </a>
                    <a href="https://www.linkedin.com/in/ishika-jain-7ba537223/" class="ico">
                      <img width="48" height="48" src="https://img.icons8.com/color/48/linkedin.png" alt="linkedin"/>
                    </a>
                   
                  </div>
                  <div id="btn">
                    <button class="msg">Subscribe</button>
                    <button class="msg">Message</button>
                  </div>
                  <div id="l-c-s">
                    <div class="num">
                      <img width="48" height="48" src="https://img.icons8.com/fluency-systems-regular/48/facebook-like--v1.png" alt="facebook-like--v1"/>
                      <span>35k</span>
                    </div>
                    <div class="num dvr"></div>
                    <div class="num">
                      <img width="48" height="48" src="https://img.icons8.com/fluency-systems-regular/48/speech-bubble--v1.png" alt="speech-bubble--v1"/>
                      <span>20k</span>
                    </div>
                    <div class="num dvr"></div>
                    <div class="num">
                      <!-- <img width="48" height="48" src="https://img.icons8.com/pulsar-line/48/share.png" alt="share"/>
                      <span>15k</span> -->
                      <a href="/logout">Log Out</a>
                    </div>
                  </div>
                </div>

                
       </div>

          
</body>
</html>